
.bg-primary-600 {
  background-color: #7c3aed !important;
}

.navbar-brand {
  background-image: url(https://cdn.wia.io/website/images/wia-logo-dark.svg);
  background-repeat: no-repeat;
  background-size: 48px auto;
  height: 42px;
  background-position: left;
  z-index: 9999;
  width: 93px;
  position: relative;
  .navbar-link {
    width: 93px;
    height: 42px;
    position: absolute;
  }
}

