:root {
  --primary-600: #7c3aed;
  --primary-300: #c4b5fd !important;
}

.container-border-bottom {
  border-bottom: 1px solid #efefef;
}

.circle-background {
  background: var(--primary-300);
  border-radius: 100%;
  margin-left: 50px;
  margin-right: -50px;
  width: 592px;
  height: 592px;

  img {
    position: absolute;
    height: 447px;
    width: 828px !important;
    max-width: 2000px;
    top: calc(50% - 276px);
    left: 70px;
    top: 70px;
    box-shadow: 0px 12px 40px 0px rgba(41, 41, 42, 0.16);
    border-radius: 8px;
  }
}

@media screen and (max-width: 1024px) {
  .hero-text {
    padding-right: 150px;
  }
  .circle-background {
    position: absolute !important;
    z-index: -1;
    width: 300px;
    height: 300px;
    right: -100px;
    img {
      width: 414px !important;
      height: 223.5px;
      left: 38px;
      top: 38px;
    }
  }
}

@media screen and (max-width: 640px) {
  .hero-text {
    padding-right: 0;
  }
  .circle-background {
    display: none !important;
  }
}